@model Software2_project.Models.StudentModel

@{
    ViewBag.Title = "deleteStudent";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 id="Pagetitle" style="text-align:center; font-weight:bold; margin-right:auto; margin-left:auto">
    <span style="border-bottom:1.5px solid;">Delete student: <span style="font-weight:bold">@Model.name</span></span>
</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd style = "border:1.5px solid rgba(230, 115, 0, 1); border-radius:25px; padding:10px; width:30%">
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd style = "border:1.5px solid rgba(230, 115, 0, 1); border-radius:25px; padding:10px; width:30%">
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd style = "border: 1.5px solid rgba(230, 115, 0, 1); border-radius: 25px; padding: 10px; width: 30%">
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd style = "border:1.5px solid rgba(230, 115, 0, 1); border-radius:25px; padding:10px; width:30%">
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_mail)
        </dt>

        <dd style = "border:1.5px solid rgba(230, 115, 0, 1); border-radius:25px; padding:10px; width:30%">
            @Html.DisplayFor(model => model.e_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd style = "border:1.5px solid rgba(230, 115, 0, 1); border-radius:25px; padding:10px; width:30%">
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd style = "border:1.5px solid rgba(230, 115, 0, 1); border-radius:25px; padding:10px; width:30%">
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd style = "border:1.5px solid rgba(230, 115, 0, 1); border-radius:25px; padding:10px; width:30%">
            @Html.DisplayFor(model => model.gender)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.id)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "listStudents", "Admin")
        </div>
    }
</div>
