@model Software2_project.ViewModel.ProfessorCourseViewModel
@{
    ViewBag.Title = "editProfessor";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 id="Pagetitle" style="text-align:center; font-weight:bold; margin-right:auto; margin-left:auto">
    <span style="border-bottom:1.5px solid;">Update Professor</span>
</h2>

@using (Html.BeginForm("updateProfessor", "Admin"))
{
    <div class="form-group" style="font-weight: bold; margin-top: 20px">
        @Html.LabelFor(m => m.professor.name)
        @Html.TextBoxFor(m => m.professor.name, new { @class = "form-control", placeholder = "Enter Professor Name" })
        @Html.ValidationMessageFor(m => m.professor.name)
    </div>

    <div class="form-group" style="font-weight:bold">
        @Html.LabelFor(m => m.professor.username)
        @Html.TextBoxFor(m => m.professor.username, new { @class = "form-control", placeholder = "Enter Professor Username" })
        @Html.ValidationMessageFor(m => m.professor.username)
    </div>

    <div class="form-group" style="font-weight:bold">
        @Html.LabelFor(m => m.professor.password)
        @Html.PasswordFor(m => m.professor.password, new { @class = "form-control", placeholder = "Enter Professor Username" })
        @Html.ValidationMessageFor(m => m.professor.password)
    </div>

    <div class="form-group" style="font-weight:bold">
        @Html.LabelFor(m => m.professor.age)
        @Html.TextBoxFor(m => m.professor.age, new { @class = "form-control", placeholder = "Enter Professor Age" })
        @Html.ValidationMessageFor(m => m.professor.age)
    </div>

    <div class="form-group" style="font-weight:bold">
        @Html.LabelFor(m => m.professor.salary)
        @Html.TextBoxFor(m => m.professor.salary, new { @class = "form-control", placeholder = "Enter Professor Salary" })
        @Html.ValidationMessageFor(m => m.professor.salary)
    </div>

    <div class="form-group" style="font-weight:bold">
        @Html.LabelFor(m => m.professor.e_mail)
        @Html.TextBoxFor(m => m.professor.e_mail, new { @class = "form-control", placeholder = "Enter Professor E-mail" })
        @Html.ValidationMessageFor(m => m.professor.e_mail)
    </div>

    <div class="form-group" style="font-weight:bold">
        @Html.LabelFor(m => m.professor.address)
        @Html.TextBoxFor(m => m.professor.address, new { @class = "form-control", placeholder = "Enter Professor Address" })
        @Html.ValidationMessageFor(m => m.professor.address)
    </div>

    <div class="form-group" style="font-weight:bold">
        @Html.LabelFor(m => m.professor.phone)
        @Html.TextBoxFor(m => m.professor.phone, new { @class = "form-control", placeholder = "Enter Professor Phone" })
        @Html.ValidationMessageFor(m => m.professor.phone)
    </div>

    <div class="form-group" style="font-weight:bold">
        @Html.LabelFor(m => m.professor.gender)
        @Html.DropDownListFor(m => m.professor.gender, new List<SelectListItem>
        {
            new SelectListItem{Text="Male", Value="male"},
            new SelectListItem{Text="Female", Value="female"},
        }, "Select Gender", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.professor.gender)
    </div>

    @Html.HiddenFor(m => m.professor.id)

    <fieldset style="border:1.5px solid rgba(230, 115, 0, 1); border-radius:25px; padding:10px;">
        <legend style="color:rgb(230, 115, 0); font-weight:bold">Courses</legend>
        <div class="container" style="font-weight:bold">
            <div class="row">
                @for (int i = 0; i < Model.courses.Count; i++)
                {
                    if (Model.checkedCourses.Contains(Model.courses[i]))
                    {
                        Model.courses[i].IsChecked = true;
                    }
                    <div class="col-12 col-sm-6 col-lg-4">
                        <label class="checkbox-inline custom-control custom-checkbox">
                        @Html.CheckBoxFor(m => Model.courses[i].IsChecked, new { @class = "custom-control-input", id = "course " + i })
                        <label class="custom-control-label" for="course @i">@Model.courses[i].name</label>
                        @Html.HiddenFor(m => m.courses[i].id)
                        @Html.HiddenFor(m => m.courses[i].code)
                        @Html.HiddenFor(m => m.courses[i].name)
                    </label>
                    </div>
                }
            </div>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary" style="border-radius:10px;margin-top:10px">Save New Data</button>
}

<style>
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px
    }
</style>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

