@model Software2_project.Models.AdminModel
@{
    ViewBag.Title = "editAdminProfile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 id="Pagetitle" style="text-align:center; font-weight:bold; margin-right:auto; margin-left:auto">
    <span style="border-bottom:1.5px solid;">Your Profile</span>
</h2>

@using (Html.BeginForm("updateAdminProfile", "Admin"))
{
    <div class="form-group" style="font-weight: bold; margin-top: 20px">
        @Html.LabelFor(m => m.name)
        @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "Enter Professor Name" })
        @Html.ValidationMessageFor(m => m.name)
    </div>

    <div class="form-group" style="font-weight:bold">
        @Html.LabelFor(m => m.username)
        @Html.TextBoxFor(m => m.username, new { @class = "form-control", placeholder = "Enter Professor Username" })
        @Html.ValidationMessageFor(m => m.username)
    </div>

    <div class="form-group" style="font-weight:bold">
        @Html.LabelFor(m => m.password)
        @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder = "Enter Professor Username" })
        @Html.ValidationMessageFor(m => m.password)
    </div>

    <div class="form-group" style="font-weight:bold">
        @Html.LabelFor(m => m.phone)
        @Html.TextBoxFor(m => m.phone, new { @class = "form-control", placeholder = "Enter Professor Phone" })
        @Html.ValidationMessageFor(m => m.phone)
    </div>

    @Html.HiddenFor(m => m.id)

    <button type="submit" class="btn btn-primary" style="border-radius:10px;margin-top:10px">Save New Data</button>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>