<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body style="margin-left:auto; margin-right:auto; width:100%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-top:-50px; margin-bottom:20px; position:sticky; top:0">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="font-weight: bold">
            <img src="~/robot.png" height="40" style="margin-right:-15px;" /><span style="z-index:-1">FCAIH</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @if (Session["username"] != null)
                    {
                        <a style="font-weight:bold" class="nav-link" href="@Url.Action("editAdminProfile", "Admin",new { id = Session["id"] },null)">Profile</a>
                    }
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link" style="background:none; border:hidden">Students &darr;</button>
                        <div class="dropdown-content">
                            <a href="@Url.Action("addStudent", "Admin")">Add</a>
                            <a href="@Url.Action("listStudents", "Admin")">List &amp; Update &amp; Delete</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link" style="background:none; border:hidden">Professors &darr;</button>
                        <div class="dropdown-content">
                            <a href="@Url.Action("addProfessor", "Admin")">Add</a>
                            <a href="@Url.Action("listProfessors", "Admin")">List &amp; Update &amp; Delete</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link" style="background:none; border:hidden">Courses &darr;</button>
                        <div class="dropdown-content">
                            <a href="@Url.Action("addCourse", "Admin")">Add</a>
                            <a href="@Url.Action("listCourses", "Admin")">List &amp; Update &amp; Delete</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                </li>
            </ul>
            @if (Session["username"] != null)
            {
                <form class="form-inline my-2 my-lg-0" style="background:none; border:none">
                    <a class="btn btn-secondary my-2 my-sm-0" href="@Url.Action("Logout","Admin")" style="background:none; border:none">
                        Logout
                    </a>
                </form>
            }

            @if (Session["username"] == null)
            {
                <form class="form-inline my-2 my-lg-0" style="background:none; border:none">
                    <a class="btn btn-secondary my-2 my-sm-0" href="@Url.Action("Login","Home")" style="background:none; border:none">
                        Login
                    </a>
                </form>
            }
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FCIH</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>