<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* width */
        ::-webkit-scrollbar {
          width: 20px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey; 
          border-radius: 3.5px;
        }
 
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #ef6102; 
          border-radius: 3px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #ca5000
        }
    </style>
</head>
<body>
    <nav id="navbarResponsive" class="navbar navbar-expand-lg navbar-dark bg-primary navbar-collapse collapse show" style="margin-top:-50px; margin-bottom:20px; position:sticky; top:0">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="font-weight: bold">
            <img src="~/robot.png" height="40" style="margin-right:-15px;"/><span style="        z-index: -1
">FCAIH</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                </li>
            </ul>
            @if (Session["username"] != null)
            {
                <form class="form-inline my-2 my-lg-0" style="background:none; border:none">
                    <a class="btn btn-secondary my-2 my-sm-0" href="@Url.Action("Logout","Admin")" style="background:none; border:none">
                        Logout
                    </a>
                </form>
            }

            @if (Session["username"] == null)
            {
                <form class="form-inline my-2 my-lg-0" style="background:none; border:none">
                    <a class="btn btn-secondary my-2 my-sm-0" href="@Url.Action("Login","Home")" style="background:none; border:none">
                        Login
                    </a>
                </form>
            }
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FCAIH</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

